body {
    margin: 100;
    padding: 20;
    font-family: Helvetica;
  }
  
#crete-btn,#show-btn{
    background-color:blueviolet;
    margin: 0 auto;
    height: 30px;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
    font-family: Helvetica;

  }
  
 
  
  form input, textarea {
    background-color: #eeeeee;
    font-size: 1.00em;

  }
  div.card {
    background-color: #eeeeee;
   
    box-shadow: 10px 10px grey;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
    
  }


  

  
  li {
    font-size: 1.00em;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: 1.0em;
    color: #fff;
  
  }
  
  button.release {
    float: right;
    background-color: #E1332D;
    
  }

  